#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body {
  background-image: radial-gradient(rgb(196, 173, 112), rgb(168, 166, 50), rgba(0, 0, 255, 0.658));
  background-size: cover;
}